@CHARSET "ISO-8859-1";

@import url("bootstrap/css/bootstrap.css");

body {
	top: 0px;
	bottom: 0px;
	background-color: #F5F8FA;
}

.navbar-fixed-top{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	box-shadow: 1px 1px 1px #c0c0c0;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #000000;
    background-color: transparent;
}

.header-seperator{
	margin-top: 62px !important;
	margin-bottom: 10px !important;
}

.navbar-default {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 1px #c0c0c0;
}

.background-color {
	/* background-color: #40C0BF; */
	background-color: #53A3CD;
}

.error-text-color {
	color: red;
}

div.media {
	padding: 8px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
	background-color: #FFFFFF;
}

div.create-post {
	margin: 10px 10px 20px 10px;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 6px 1px #888888;
}

div.comment {
	padding: 10px;
	border-radius: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 5px 0px 5px 0px;
}

div.comment-box {
	padding: 10px;
	border-radius: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 5px 0px 5px 0px;
}

div.post-comment {
	margin: 10px 10px 20px 10px;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 6px 1px #888888;
}

div.input-box {
	height: 100px;
	border: 1px solid;
	overflow: auto;
}

.breadcrumb {
	background-color: rgb(255, 255, 255);
	margin: 0px;
}

div .input-post {
	margin: 10px;
	height: 100px;
	border: 0.5px solid #A8A8A8;
}

.form-check-label {
	font-weight: normal;
	margin-right: 20px;
	padding-left: 10px;
}

#map {
	height: 100%;
}

#map-weatherPage {
	height: 300px;
	width: 100%;
}

.profile-sidebar {
	padding: 20px 0 0px 0;
	background: #fff;
	margin: 10px 10px 20px 10px;
	box-shadow: 0.5px 0.5px 6px 0.5px #888888;
}

.profile-usertitle {
	text-align: center;
	margin-top: 20px;
}

.profile-usertitle-name {
	color: #5a7391;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.profile-userpic img {
	float: none;
	margin: 0 auto;
	width: 90%;
	height: 90%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.mypost-button {
	border-radius: 0px;
	margin-top: 20px;
}

hr {
	margin-top: 2px;
}
div.weather-map-wrapper{
	height: 250px !important; 
	margin-top: 10px;
	box-shadow: 0.5px 0.5px 6px 0.5px #888888;
}
div.weather-map{
	position:absolute;
	font-size: 10px;
    width: 150px;
    margin-top: -140px;
    background-color: #f5f8fa;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
    color: #337ab7;
}
#weather-location{
	background-color: #3282c7;
    color: white;
    text-align: center;
    font-size: 19px;
    text-shadow: 2px 2px 4px #2e668c;
	
}

div.weather {
	margin: 10px;
	border: 1px solid #559bdb;
	background-color: #d7e1ea;
	padding: 2px;
	float: left;
}

div.temprature {
	padding: 15px 5px 15px 5px;
	font-size: 48px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #a76868;
	color: #e4d830;
}

div.day {
	background-color: #376c9b;
	color: white;
	margin: 0;
}

div.date {
	font-size: small;
	margin-bottom: 0px;
	color: #44443b;
	font-weight: 700;
}

div.weather-wrapper {
	padding: center;
	text-align: center;
}

.logout{
	color: #ff0000 !important;
	font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover{
	color: #400040!important;
	font-size: 20px;
}

.created-date{
	font-style: italic;
	font-size: smaller;
	color: graytext;
}

footer {
	background-color: #53A3CD;
	margin-top: 10px;
	bottom: 0 !important;
	color: #fff !important;
	height: 50px;
	line-height: 50px;
}